@charset "UTF-8";
html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  color: #572B23;
  background-color: #ffffff;
  font-family: "Bad Script","Sawarabi Gothic";
  font-size: 62.5%;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  height: auto;
  overflow-y: scroll;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  /*テキストデフォルト下線外し*/
  text-decoration: none;
  /* color: #ffffff; */
}

.container {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.inner {
  width: 100%;
  margin: 0 auto;
}

.site_btn {
  position: relative;
  display: inline-block;
  border: 1px solid #315611;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  font-size: 2.4rem;
  color: #315611;
  line-height: 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  z-index: 2;
}

.site_btn:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background-color: #315611;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.site_btn:hover:before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.site_btn:hover {
  color: #ffffff;
  opacity: 1;
}

.site_link {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.nav_color {
  color: #315611;
}

/****************

header

*************/
.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  width: 100%;
  line-height: 56px;
  background-color: #ffffff;
  opacity: .8;
}

.header_ttl {
  width: 50%;
  font-size: 2.0rem;
  font-family: "Bad Script";
  opacity: 1;
  color: #572B23;
  margin-left: 16px;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .header {
    line-height: 80px;
  }
  .header_ttl {
    font-size: 3.2rem;
    margin-left: 40px;
  }
}

@media screen and (min-width: 764px) and (max-width: 1366px) and (min-width: 1366px) {
  .header_ttl {
    margin-left: 120px;
  }
}

.nav {
  width: 100%;
  line-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* ハンバーガーメニュー */
}

.nav_list {
  position: absolute;
  display: block;
  top: 54px;
  right: -1000px;
  overflow: hidden;
  width: 15rem;
  max-height: auto;
  overflow-y: auto;
  /*縦方向の表示*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity .8s ease, visibility .6s ease;
  transition: opacity .8s ease, visibility .6s ease;
  color: #572B23;
  background-color: #F6F3FB;
  visibility: .6s ease;
  opacity: 1;
}

.nav_list.clicked {
  right: 0;
  visibility: visible;
  opacity: 0.9;
  width: 262px;
  top: 0;
  height: 667px;
  background-color: #f6f3eb;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .nav_list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
  }
  .nav_list.clicked {
    display: none;
  }
}

.nav_item {
  padding: 2px 0;
  font-size: 2rem;
  color: #572B23;
  position: relative;
  -webkit-transition: opacity .2s ease, -webkit-transform 6s ease;
  transition: opacity .2s ease, -webkit-transform 6s ease;
  transition: transform 6s ease, opacity .2s ease;
  transition: transform 6s ease, opacity .2s ease, -webkit-transform 6s ease;
}

.nav_item:nth-child(1) {
  -webkit-transition: opacity .2s ease, -webkit-transform .6s ease;
  transition: opacity .2s ease, -webkit-transform .6s ease;
  transition: transform .6s ease, opacity .2s ease;
  transition: transform .6s ease, opacity .2s ease, -webkit-transform .6s ease;
}

.nav_item:nth-child(2) {
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.nav_item:nth-child(3) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.nav_item:nth-child(4) {
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}

.nav_item:nth-child(5) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.nav_item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #572B23;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav_item:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav_item.nav_color {
  color: #315611;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .nav_item {
    margin-right: 40px;
    font-size: 2.4rem;
  }
  .nav_item:nth-child(4) {
    margin-right: 40px;
    display: block;
  }
}

.nav_link {
  width: 100%;
  display: block;
  color: #572B23;
  font-size: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2;
}

.nav_link.nav_color {
  color: #315611;
}

.nav_sp {
  font-size: 1.4rem;
  list-style: 1.5em;
}

.clicked .nav_list .nav_item {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.toggle_btn {
  z-index: 2000;
  position: absolute;
  top: 0;
  width: 16%;
  /* height: 24px; */
  height: 55px;
  right: 16.19px;
  cursor: pointer;
  -webkit-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
  /*0.3秒かけて変化*/
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .toggle_btn {
    display: none;
  }
}

.toggle_line {
  display: block;
  position: absolute;
  z-index: 2100;
  right: 6.3px;
  top: 14px;
  width: 45.25px;
  height: 1px;
  background-color: #315611;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.__tg1 {
  top: 16.19px;
}

.__tg1.clicked {
  -webkit-transform: translateY(12px) rotate(-315deg);
          transform: translateY(12px) rotate(-315deg);
}

.__tg2 {
  top: 28.19px;
}

.__tg2.clicked {
  opacity: 0;
}

.__tg3 {
  top: 40.19px;
}

.__tg3.clicked {
  -webkit-transform: translateY(-11px) rotate(315deg);
          transform: translateY(-11px) rotate(315deg);
}

/****************

kv

*************/
.kv {
  background: url(../images/top-image/top-image.png) center/cover no-repeat;
  background-position-y: 50%;
  height: 667px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.kv_txtbox {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .kv_txtbox {
    width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .kv_txtbox {
    width: 60%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.kv .site_btn {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 20rem;
  line-height: 45px;
  opacity: 1;
  border: 1px solid #572B23;
  text-align: center;
  background-color: #ffffff;
  font-size: 2.3rem;
  font-family: "bad script";
  color: #572B23;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.kv .site_btn:before {
  background-color: #572B23;
}

.kv .site_btn:hover {
  color: #ffffff;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .kv .site_btn {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.kv .site_link {
  padding: 6px 66px;
  display: block;
  width: 100%;
  text-align: center;
}

.kv_txt {
  margin: auto;
  text-align: center;
  font-size: 1.8rem;
  color: #315611;
  padding: 10px 24px;
  background-color: #ffffff;
  opacity: .8;
  margin-bottom: 16px;
  line-height: 2;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .kv_txt {
    font-size: 4rem;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .kv_txt {
    margin-bottom: 24px;
  }
}

.__subtxt {
  font-size: 1.6rem;
  padding: 13px 24px;
  color: #572B23;
  opacity: 0.8;
  letter-spacing: 0.32px;
  width: 228px;
  height: 48px;
  line-height: .84;
  display: inline-block;
  margin-right: auto;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .__subtxt {
    font-size: 2.4rem;
    width: 344px;
    line-height: 60px;
    height: initial;
  }
}

@media screen and (min-width: 1366px) {
  .__subtxt {
    width: 533px;
    padding: 19px 40px 17px 120px;
  }
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .kv {
    background: url(../images/iPadデザイン/top-image.png) center/cover no-repeat;
    height: 943px;
    background-position-y: 50%;
  }
}

@media screen and (min-width: 1366px) {
  .kv {
    background: url(../images/pc-top-image/top-image.png) center/cover no-repeat;
    height: 688px;
    background-position-y: 100%;
  }
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .contact_box {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/****************

profile

*************/
.prof {
  padding: 0 0 64px;
  position: relative;
}

.prof .section_ttlbox {
  padding: 88px 0 45px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.prof::after {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・475.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.prof::before {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・476.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  right: 0;
  top: 0;
  z-index: -1;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .prof .section_ttlbox {
    padding: 128px 0 39px;
  }
}

@media screen and (min-width: 1366px) {
  .prof .section_ttlbox {
    position: relative;
  }
}

.prof_inner {
  position: relative;
  width: 336px;
  margin: 0 auto;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .prof_inner {
    width: 704px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1366px) {
  .prof_inner {
    width: 981px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.prof_ttl {
  width: 100%;
  position: relative;
  display: block;
  font-size: 3.2rem;
  color: #572B23;
  line-height: 0.84;
  margin: 0 auto;
}

.prof_ttl::before {
  display: block;
  content: 'Profile';
  position: absolute;
  bottom: -20px;
  right: 8px;
  z-index: -1;
  color: #f6f3eb;
  opacity: 1;
  font-size: 10rem;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .prof_ttl::before {
    font-size: 12rem;
    right: 6%;
  }
}

@media screen and (min-width: 1366px) {
  .prof_ttl::before {
    font-size: 12rem;
    bottom: 0;
    right: 10%;
  }
}

@media screen and (min-width: 1366px) {
  .prof_ttl {
    position: absolute;
    bottom: -30px;
    left: 88px;
    font-size: 3.6rem;
  }
}

.prof_imgbox {
  position: relative;
  width: 316px;
  height: 330px;
  z-index: 90;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.prof_imgbox::after {
  content: '';
  position: absolute;
  border: 1px solid #315611;
  width: 316px;
  height: 330px;
  z-index: -99;
  opacity: 1;
  left: 8px;
  top: 8px;
}

.prof_imgbox::before {
  content: '';
  position: absolute;
  border: 1px solid #315611;
  width: 316px;
  height: 330px;
  z-index: -99;
  opacity: 1;
  left: -8px;
  top: -8px;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .prof_imgbox {
    width: 296px;
    height: 371px;
    left: -21%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .prof_imgbox::after {
    width: 296px;
    height: 371px;
  }
  .prof_imgbox::before {
    width: 296px;
    height: 371px;
  }
}

@media screen and (min-width: 1366px) {
  .prof_imgbox {
    width: 400px;
    height: 500px;
    left: 0;
    -webkit-transform: initial;
            transform: initial;
  }
  .prof_imgbox::after {
    width: 400px;
    height: 500px;
  }
  .prof_imgbox::before {
    width: 400px;
    height: 500px;
  }
}

.prof_img {
  width: 100%;
  height: 100%;
  display: block;
}

@media screen and (min-width: 1366px) {
  .prof_content {
    position: relative;
  }
}

.prof_txt {
  margin: 40px 0 40px;
  font-size: 1.6rem;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .prof_txt {
    margin: 0 0 100px 40px;
    width: 360px;
    line-height: 2;
  }
}

@media screen and (min-width: 1366px) {
  .prof_txt {
    width: 493px;
    margin: 83px 0 40px 80px;
    font-size: 1.8rem;
  }
}

.prof .section_btnbox {
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .prof .section_btnbox {
    margin: 40px auto;
    width: 50%;
  }
}

@media screen and (min-width: 1366px) {
  .prof .section_btnbox {
    width: 100%;
  }
}

.prof .site_btn {
  text-align: center;
  width: 160px;
  margin: 0 8px;
  border: 1px solid #315611;
  line-height: 48px;
  color: #315611;
}

.prof .site_btn:hover {
  color: #ffffff;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .prof .site_btn {
    position: absolute;
    left: 50%;
  }
  .prof .site_tw {
    position: absolute;
    left: 25%;
  }
}

@media screen and (min-width: 1366px) {
  .prof .site_btn {
    width: 200px;
    line-height: 56px;
    left: 320px;
    position: absolute;
  }
  .prof .site_tw {
    left: 72px;
  }
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .prof {
    padding: 0 0 88px;
  }
}

/****************

works

*************/
.work {
  padding: 88px 0 64px;
  background-color: #f9f9f9;
  position: relative;
}

.work::after {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・487.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  right: 0;
  bottom: 0;
}

.work::before {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・477.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  top: 0;
  left: 0;
}

.work .section_ttlbox {
  padding: 88px 0 45px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.work_inner {
  position: relative;
  width: 336px;
  margin: 0 auto;
  height: 1838px;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .work_inner {
    width: 500px;
    height: 1710px;
  }
}

@media screen and (min-width: 1366px) {
  .work_inner {
    width: 65%;
    height: auto;
  }
}

.work_item {
  margin-bottom: 80px;
}

@media screen and (min-width: 1366px) {
  .work_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.work_ttl {
  width: 100%;
  position: relative;
  display: block;
  font-size: 3.2rem;
  color: #572B23;
  line-height: 0.84;
  margin: 0 auto;
  z-index: 100;
}

.work_ttl::before {
  display: block;
  content: 'Works';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  color: #f6f3eb;
  opacity: 1;
  font-size: 100px;
}

.work_minttl {
  margin-top: 30px;
  font-size: 2.4rem;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .work_minttl {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1366px) {
  .work_minttl {
    margin-top: 0;
  }
}

.work_imgbox {
  position: relative;
  width: 330px;
  height: 190px;
  z-index: 90;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.work_imgbox::after {
  content: '';
  position: absolute;
  border: 1px solid #315611;
  width: 330px;
  height: 190px;
  z-index: -99;
  opacity: 1;
  left: 8px;
  top: 8px;
}

.work_imgbox::before {
  content: '';
  position: absolute;
  border: 1px solid #315611;
  width: 330px;
  height: 190px;
  z-index: -99;
  opacity: 1;
  left: -8px;
  top: -8px;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .work_imgbox {
    width: 350px;
    height: 200px;
  }
  .work_imgbox::after {
    width: 350px;
    height: 200px;
  }
  .work_imgbox::before {
    width: 350px;
    height: 200px;
  }
}

@media screen and (min-width: 1366px) {
  .work_imgbox {
    left: initial;
    -webkit-transform: initial;
            transform: initial;
    margin-right: 40px;
  }
}

.work_img {
  width: 100%;
  height: 100%;
  display: block;
}

.work_txt {
  margin: 16px 0;
  font-size: 1.6rem;
  letter-spacing: .32px;
  line-height: 1.5;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .work_txtbox {
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }
  .work_txt {
    margin: 16px auto;
    width: 500px;
  }
}

@media screen and (min-width: 1366px) {
  .work_txtbox {
    width: 500px;
  }
}

.work .site_btn {
  margin: 0 auto;
  text-align: center;
  color: #315611;
  font-size: 1.4rem;
  border: 1px solid #315611;
  width: 120px;
  line-height: 40px;
}

.work .site_btn:hover {
  color: #ffffff;
}

@media screen and (min-width: 1366px) {
  .work .site_btn {
    margin: initial;
    margin-left: auto;
  }
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .work {
    padding: 128px 0 80px;
  }
}

/****************

skill

*************/
.skill {
  padding: 88px 0 65px;
  background-color: #ffffff;
  position: relative;
}

.skill::after {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・492.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  right: 0;
  top: 0;
}

.skill::before {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・493.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.skill_ttl {
  width: 100%;
  position: relative;
  display: block;
  font-size: 3.2rem;
  color: #572B23;
  line-height: 0.84;
  margin: 0 auto;
  z-index: 100;
  text-align: center;
}

.skill_ttl::before {
  display: block;
  content: 'Skill';
  position: absolute;
  bottom: -20px;
  left: 10%;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  z-index: -1;
  color: #f6f3eb;
  opacity: 1;
  font-size: 10rem;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .skill_ttl {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1366px) {
  .skill_ttl {
    text-align: left;
    margin-left: 162px;
  }
  .skill_ttl::before {
    bottom: 0;
    font-size: 12rem;
    left: -100px;
  }
}

.skill_inner {
  position: relative;
  width: 336px;
  margin: 0 auto;
}

.skill .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1366px) {
  .skill .flex {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .skill_inner {
    width: 500px;
  }
}

@media screen and (min-width: 1366px) {
  .skill_inner {
    width: 77%;
  }
}

.skill_listbox {
  margin-top: 43px;
}

.skill_listbox.flex {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
  -webkit-flex-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

@media screen and (min-width: 1366px) {
  .skill_listbox {
    margin-top: 0;
  }
}

.skill_imgbox {
  margin-top: 21px;
  width: 200px;
  height: 200px;
  z-index: 90;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .skill_imgbox {
    margin-top: 0;
  }
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .skill_imgbox {
    width: 320px;
    height: 320px;
  }
}

.skill_list {
  font-family: 'Sawarabi Gothic', Regular;
}

.skill_img {
  width: 100%;
  height: 100%;
  display: block;
}

.skill_item {
  font-size: 1.6rem;
  line-height: 2em;
}

.skill_itemspan {
  color: #315611;
  font-size: .8rem;
  text-align: left;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .skill_item {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1366px) {
  .skill_txtbox {
    width: 500px;
    margin-right: 80px;
  }
}

.skill_txt {
  margin: 16px 0;
  font-size: 1.6rem;
  letter-spacing: .32px;
  line-height: 2em;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .skill_txt {
    margin: 39px 0;
  }
}

@media screen and (min-width: 1366px) {
  .skill_txt {
    font-size: 1.8rem;
    letter-spacing: .36px;
  }
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .skill {
    padding: 128px 0 80px;
  }
}

/****************

contact

*************/
.contact {
  padding: 88px 0 64px;
  background-color: #f9f9f9;
  position: relative;
}

.contact::after {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・514.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  right: 0;
  bottom: 0;
}

.contact::before {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・497.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
}

.contact_ttl {
  width: 100%;
  position: relative;
  display: block;
  font-size: 3.2rem;
  color: #572B23;
  line-height: 0.84;
  margin: 0 auto;
  z-index: 100;
  text-align: center;
}

.contact_ttl::before {
  display: block;
  content: 'Contact';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  color: #f6f3eb;
  opacity: 1;
  font-size: 10rem;
}

@media screen and (min-width: 1366px) {
  .contact_ttl::before {
    font-size: 12rem;
  }
}

.contact_inner {
  margin: auto;
  display: block;
  width: 300px;
  padding-bottom: 24.5px;
}

@media screen and (min-width: 1366px) {
  .contact_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 88%;
  }
  .contact_formwrap {
    width: 300px;
  }
  .contact_formwrap:nth-child(1) {
    margin-right: 53px;
  }
}

.contact_form {
  background: url(../images/cotact564/564.png) no-repeat;
  width: 350px;
  height: 500px;
  margin: 65px auto;
  background-size: contain;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact .site_btn {
  font-size: "bad script";
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  color: #315611;
  font-size: 2.4rem;
  border: 1px solid #315611;
  width: 200px;
  line-height: 56px;
  position: relative;
}

.contact .site_btn:hover {
  color: #ffffff;
}

.contact .site_btn:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background-color: #315611;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.contact .site_btn:hover:before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .contact_form {
    width: 380px;
  }
}

@media screen and (min-width: 1366px) {
  .contact_form {
    background: url(../images/contact562/contact562.png) no-repeat;
    width: 750px;
    height: 520px;
  }
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .contact_btnbox {
    display: inline-block;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .contact {
    padding: 128px 0 80px;
  }
}

.form {
  line-height: 1.9;
  border-bottom: 1px solid #572B23;
  border-right: none;
  border-left: none;
  border-top: none;
}

.form:last-child {
  border: none;
}

.form_ttl {
  padding-left: 10px;
  width: 40px;
  display: inline-block;
}

.form_box {
  border: none;
  color: #315611;
  opacity: 0.5;
  left: 16px;
  position: relative;
  width: 80%;
  font-family: "Bad Script";
}

.form_area {
  font-family: "Bad Script";
  opacity: .5;
  font-size: 1.6rem;
  color: #315611;
  padding: 8px;
  width: 30rem;
  height: 16rem;
  display: inline-block;
  border: 1px solid #572B23;
}

.form2 {
  margin-top: 24.5px;
}

.form2.bb {
  border-bottom: 1px solid;
}

/****************

footer

*************/
.footer {
  background-color: #fff;
  width: 100%;
  height: 138px;
  margin: 0 auto;
  position: relative;
}

.footer::after {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・515.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  right: 0;
  top: 0;
}

.footer::before {
  position: absolute;
  content: '';
  background: url(/images/スマホデザイン/グループ・516.png) no-repeat;
  width: 96px;
  height: 96px;
  display: block;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer_sharbox {
  margin: auto;
}

.footer_sharelist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 24px;
  margin: auto;
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .footer_item {
    margin-top: 40px;
  }
  .footer_sharelist {
    padding-top: 0;
  }
}

.footer_txt {
  font-size: 1.8rem;
  display: block;
  text-align: center;
  margin-top: 24px;
}

.footer_icon {
  font-size: 3rem;
  margin: 8px;
  border-radius: 50%;
}

.footer_icon:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media screen and (min-width: 764px) and (max-width: 1366px) {
  .footer {
    height: 154px;
  }
}
