.headerTitle {
    position: relative;
    /* top: 9px; */
    left: 16px;
}



.bgImages {
    background-image: url("images/top-image/top-image.png");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 667px;
    z-index: -100;
    position: absolute;
    object-fit: cover;
    
}

.profImages {
    background-image:url("images/profile/profile.png") ;
    background-repeat: no-repeat;

    position: absolute;
    width: 316px;
    height: 330px;

    top: 165px;
    left: 28px;
    z-index: -90;
}

.workImages {
    background-image: url("images/work1/work1.png");
    background-repeat: no-repeat;

    position: relative;
    width: 330px;
    height: 190px;
    top: 77px;
    left: 23px;
}
.workImages2 {
    background-image: url("images/work2/work2.png");
    background-repeat: no-repeat;

    position: relative;
    width: 330px;
    height: 190px;

    top: 168px;
    left: 23px;
}
.workImages3 {
    background-image: url("images/work3/work3.png");
    background-repeat: no-repeat;
   
    position: relative;
    width: 330px;
    height: 190px;

    top: 349px;
    left: 23px;
}

.skillImages {
    background-image: url("images/1544078499/1544078499.png");
    background-repeat: no-repeat;

    position: relative;
    width: 200px;
    height: 200px;
    opacity: 0.3;
    left: 0;

}
.contactImage {
    background-image: url("images/cotact564/564.png");
    background-repeat: no-repeat;

    position: relative;
    width: 35rem;
    height: 50rem;
    top: -13px;
    background-size: 100%;
    left: 13px;
}

.boxImage {
    background-image: url("images/スマホデザイン/グループ・476.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
}
.boxImage2 {
    background-image: url("images/スマホデザイン/グループ・475.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
}
.boxImage3 {
    background-image: url("images/スマホデザイン/グループ・477.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
}
.boxImage4 {
    background-image: url("images/スマホデザイン/グループ・487.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
}
.boxImage5 {
    background-image: url("images/スマホデザイン/グループ・492.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
}
.boxImage6 {
    background-image: url("images/スマホデザイン/グループ・493.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
}
.boxImage7 {
    background-image: url("images/スマホデザイン/グループ・497.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
    opacity: 1;
}
.boxImage8 {
    background-image: url("images/スマホデザイン/グループ・514.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
    opacity: 1;
}
.boxImage9 {
    background-image: url("images/スマホデザイン/グループ・515.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
    opacity: 1;
}
.boxImage10 {
    background-image: url("images/スマホデザイン/グループ・516.png");
    background-repeat: no-repeat;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
    opacity: 1;
}



.hideBox1 {
    border: 1px solid #315611;
    width: 316px;
    height: 330px;
    z-index: -99;
    opacity: 1;
    position: absolute;
    left: 20px;
    top: 157px;
    
}
.hideBox2 {
    border: 1px solid #315611;
    width: 316px;
    height: 330px;
    z-index: -98;
    opacity: 1;
    position: absolute;
    left: 36px;
    top: 173px;
    
}
.hideBox3 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -99;
    opacity: 1;
    position: absolute;
    left: 15px;
    top: 69px;
    
}
.hideBox4 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -98;
    opacity: 1;
    position: absolute;
    left: 31px;
    top: 85px;
    
}
.hideBox5 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -99;
    opacity: 1;
    position: absolute;
    left: 15px;
    top: 160px;
    
}
.hideBox6 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -98;
    opacity: 1;
    position: absolute;
    left: 31px;
    top: 176px;
    
}
.hideBox7 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -99;
    opacity: 1;
    position: absolute;
    left: 15px;
    top: 341px;
    
}
.hideBox8 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -98;
    opacity: 1;
    position: absolute;
    left: 31px;
    top: 357px;
    
}

.profContent {
    position: absolute;
    text-align: left;
    top: 535px;
    left: 20px;

    width: 336px;
    height: auto;
}


.profBtn {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: -4px;

}

.contactBtn {
    justify-content: space-between;
    border: 1px solid #315611;
    background: #ffffff;
    width: 16rem;
    height: 4.8rem;
    position: relative;
}

.worksWrapper {
    display: flex;
    justify-content: center;
}


/* ハンバーガーメニュー */
.navList {
    position: absolute;
    display: block;
    top: 54px;
    /* left: 377px; */
    left: 1000px;
    overflow: hidden;
    width: 15rem;
    max-height: auto;
    cursor: pointer;

    overflow-y: auto;/*縦方向の表示*/

    display: flex;
    flex-direction: column;
    transition: opacity .8s ease, visibility .6s ease;
    color: #572B23;

    background-color: #F6F3FB;
    visibility: .6s ease;
    opacity: 1;
}
.clicked .navList {
    left: 114px;
    visibility: visible;
    opacity: 0.9;
    width: 262px;
    top: 0;
    height: 667px;
    background-color: #f6f3f8;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clicked .navList .navItem {
    transform: translateX(0px);
}

.navItem {
    padding: 2px 0;
    font-size: 2rem;
    color: #572B23;

    transition: transform 6s ease, opacity .2s ease;
}

.navList li {
    transform: translateX(200px);

    transition: transform .6s ease, opacity .2s ease;
}

.navList li:nth-child(2) {
    transition-delay: .15s;

}
.navList li:nth-child(3) {
    transition-delay: .3s;


}
.navList li:nth-child(4) {
    transition-delay: .45s;

}
.navList .navItem:nth-child(5) {
    transition-delay: .6s;

}

.toggleBtn {
  
    z-index: 2000;
    position: absolute;
    top: 0;
    width: 45.25px;
    /* height: 24px; */
    height: 55px;
    right: 16.19px;
    cursor: pointer;
    transition: all .30s ease-in-out;/*0.3秒かけて変化*/
}

.toggleLine {
    display: block;
    position: absolute;
    z-index: 2100;
    right: 6.3px;
    top: 14px;
    width: 100%;
    height: 1px;
    background-color: #315611;
}

.tg1 {
    top: 16.19px;
}
.tg2 {
    top: 28.19px;
}
.tg3 {
    top: 40.19px;
}



.toggleLine {
    transition: all 0.3s;
}

/* togglerにclickedクラス付与されたら*/

.clicked .tg1 {
    transform: translateY(12px) rotate(-315deg);/*時計回りに45度回転*/
}
.clicked .tg2 {
    opacity: 0;
}
.clicked .tg3 {
    transform: translateY(-11px) rotate(315deg);/*反時計周りに45度回転*/
}

.navItem a {
    color: #572B23;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}



.navItem span {
    font-size: 1.4rem;
}

/****** nav下線 ******/
.navItem a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #572B23;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.navItem a:hover::after {
    transform: scale(1, 1);
}

.btnWrap {
    width: 20rem;
    height: 5.6rem;
}



.contactBox {
    width: 200px;
    height: 56px;
    opacity: 0.8;
    border: 1px solid #572B23;
    text-align: center;
    background-color: #fffff6;
    font-size: 2.3rem;
    font-family: "bad script";
    color: #572B23;
    border: 1px solid #572B23;
}

.title {
    display: flex;
}

.contentTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: left;
    top: 80px;
    left: 0;
    width: 100%;

}
.contentBgtitle {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 24px 0 110px;

    top: 0px;
    text-align: left;
}

.worksTitle {
    position: relative;
    top: 100px;
    left: 0;
    padding-left: 19px;

}
.worksContent {
    position: relative;
    top: 104px;
    left: 19px;
    width: 335px;
    height: 143px;

}
.contentBtn {
    position: relative;
    top: 120px;

    width: 120px;
    height: 40px;


    justify-content: space-between;
    border: 1px solid #315611;
    background: #ffffff;
    
}
.btnBox {
    display: flex;
    justify-content: center;
    position: relative;
}

.skillContent {
    width: 336px;
    /* height: 279px; */
    position: relative;
    top: 62px;
    left: 20px;
    text-align: left;
}
.skillList {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 124px;
}
.listBox {
    text-align: left;
    top: -28px;
    left: -34px;
    position: relative;
}

.form {
    width: 30rem;
    height: 3.15rem;

    border-bottom: 1px solid #572B23;
    border-right: none;
    border-left: none;
    border-top: none;
    margin: 0 0 0 10px;
}

.form2 {
    margin-top: 25px;

}

.formTitle {
  position: relative;
  left: 8.5px;

   
}


.formBox {
   border: none;
   color: #315611;
   opacity: 0.5;
   left: 16px;
   position: relative;
   width: 85%;
   font-family: "Bad Script";

   
}


.area {
    width: 30rem;
    height: 16rem;
    display: inline-block;
    border: 1px solid #572B23;

}

.sendBtn {
    width: 200px;
    height: 56px;
    color: #315611;
    background-color: #ffffff99;
    border: 1px solid #315611;
    font-size: 24px;
    font-family: "Bad Script";
}
.copyright {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -114px;
    left: 128px;
    padding-bottom: 24px;
}



.btnhv:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #315611;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .7s cubic-bezier(.19, 1, .22, 1);
}
.btnhv:hover:before{
    left: 0;

    transform: scaleX(1);
    transform-origin: left;
}
.btnhv2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #572B23;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .7s cubic-bezier(.19, 1, .22, 1);
}
.btnhv2:hover:before{
    left: 0;

    transform: scaleX(1);
    transform-origin: left;
}

.btnhv2:hover .contactBox {
    color: #fff;
    top: 0;
    left: 0;
    position: relative;
    
}
.btnhv:hover .u-Btn {
    color: #fff;
    top: 0;
    left: 0;
    position: relative;
    
}
.btnhv:hover .u-workBtn {
    color: #fff;
    top: 0;
    left: 0;
    position: relative;
    background-color: #315611;
}
.btnhv:hover .u-workBtn2 {
    color: #fff;
    top: 0;
    left: 0;
    position: relative;
    background-color: #315611;
    
}
.btnhv:hover .u-workBtn3 {
    color: #fff;
    top: 0;
    left: 0;
    position: relative;
    background-color: #315611;
    
}



.btnhv:hover .sendBtn {
    color: #fff;
    top: 0;
    left: 0;
    position: relative;
    
}

.inputWrap {
 width: 20rem;
 height: 5.6rem;
}







/* ****************** ipad版   **************************/


@media screen and (min-width: 768px) {
    .headerTitle {
        position: relative;
        /* top: 9px; */
        left: 40px;
    }



    .toggleBtn{
        display: none;
    }

    .navList {
        position: relative;
        /* display: block; */
        top: 0;
        left: -40px;
        overflow: inherit;
        width: 100%;
        max-height: auto;
        cursor: pointer;
        justify-content: space-around;

        display: flex;
        flex-direction: inherit;
        transition: opacity .8s ease, visibility .6s ease;
        color: #572B23;
    
        background-color: inherit;
        visibility: .6s ease;
        opacity: 1;
    }
    .clicked .navList {
        left: 114px;
        visibility: visible;
        opacity: 0.9;
        width: 262px;
        top: 0;
        height: 667px;
        background-color: #f6f3f8;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .clicked .navList .navItem {
        transform: translateX(0px);
    }
    .navList li {
        transform: translateX(0);
    
        /* transition: transform .6s ease, opacity .2s ease; */
    }


    .navItem {
        padding: 2px 0;
        font-size: 2rem;
        color: #572B23;
        line-height: 25px;
    
    
        /* transition: transform 6s ease, opacity .2s ease; */
    }

    .navItem a {
        color: #572B23;
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
    }
    .navItem span {
        font-size: 1.4rem;
        
    }

    .navItem a::after {
        bottom: -1px;
  
    }

    .bgImages {
        background-image: url("images/iPadデザイン/top-image.png");
        background-size: cover;
        background-repeat: no-repeat;
    
        width: 768px;
        height: 1023px;
        z-index: -100;
        position: absolute;
        object-fit: cover;
        
    }
    .contactBox {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .contactImage {
        width: 38rem;
        height: 50rem;
        top: 59px;
        left: 194px;
    }
    .contentBgtitle {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0;
        right: 40px;
        top: 0;
        text-align: left;
    }

    .contentTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: left;
        top: 120px;
        left: 0;
        z-index: 20;
    
    }

    .contentWrap {
        display: flex;
        
    }

    .profImages {
        background-image: url("images/iPadデザイン/profile.png");
        width: 296px;
        height: 371px;
        position: absolute;
    
        top: 211px;
        left: 40px;
        z-index: -90;
    }
    .profImgbox {
        display: flex;
    }


    .hideBox1 {
        left: 32px;
        top: 203px;
        width: 296px;
        height: 371px;
    }
    .hideBox2 {
        left: 48px;
        top: 219px;
        width: 296px;
        height: 371px;
    }

    .hideBox3 {
        position: absolute;
        left: -9px;
        top: -8px;
        
    }
    .hideBox4 {
        position: absolute;
        left: 9px;
        top: 8px;
        
    }
    .hideBox5 {
        position: absolute;
        left: 14px;
        top: 59px;
        
    }
    .hideBox6 {
        position: absolute;
        left: 31px;
        top: 76px;
        
    }
    .hideBox7 {
        
        width: 330px;
        height: 190px;
        z-index: -99;
        opacity: 1;
        position: absolute;
        left: 15px;
        top: 200px;
        
    }
    .hideBox8 {
        border: 1px solid #315611;
        width: 330px;
        height: 190px;
        z-index: -98;
        opacity: 1;
        position: absolute;
        left: 31px;
        top: 216px;
        
    }

    .profContent {
        position: absolute;
      
        text-align: left;
        top: 203px;
        left: 376px;
        width: 360px;
        height: auto;
    }
    .profBtn {
        position: absolute;
        display: flex;
        justify-content: space-around;
        top: 622px;
        left: 172px;

    
    }

    .contactBtn {
        justify-content: space-between;
        border: 1px solid #315611;
        background: #ffffff;
        width: 20rem;
        height: 5.6rem;
        margin-right: 24px;
    }
    .workImages {
        width: 350px;
        height: 200px;
        top: 0px;
        left: 0px;
    }
    .workImages2 {
        top: 68px;
    }

    .workImages3 {
       
        position: relative;
        width: 350px;
        height: 200px;
    
        top: 208px;
        left: 23px;
    }
    .worksTitle {
        position: relative;
        top: 18px;
        left: 0;
    
    }
    .worksContent {
        position: relative;
        top: 16px;
        left: -75px;
        width: 500px;
        height: auto;
    
    }

    .contentBtn {
        left: 0;
        top: 31px;
    }
    .btnBox {
        display: flex;
        justify-content: center;
    }


    .skillContent {
        width: 500px;
        height: auto;
        left: 134px;
        top: 107px;
       
    }
    .skillImages {
        position: relative;
        width: 320px;
        height: 320px;
        opacity: 0.3;
        left: 71px;
        background-size: contain;
    
    }
    .listBox {
        top: 0;
        left: -83px;
    }
    .copyright {
        
        top: 94px;
        left: 325px;
        position: absolute;
        padding-bottom: 0;

    }

    


}

@media screen and (min-width: 960px) {
    .bgImages {
        background-image: url("images/pc-top-image/top-image.png");
        width: 1366px;
        height: 768px;
        z-index: -100;
        position: absolute;
        object-fit: cover;

        background-size: contain;
    }
    .navList {
        position: relative;
        /* display: block; */
        top: 6px;
        left: 150px;
        overflow: inherit;
        width: 70%;
        max-height: auto;
        cursor: pointer;
        justify-content: space-around;

        display: flex;
        flex-direction: inherit;
        transition: opacity .8s ease, visibility .6s ease;
        color: #572B23;
    
        background-color: inherit;
        visibility: .6s ease;
        opacity: 1;
        }
        .headerTitle {
            /* top: 9px; */
            left: 120px;
        }
    .profContent {
        
      top: 211px;
      left: 723px;
      width: 493px;
      height: auto;
      letter-spacing: 0.36px;
      }

      .profImages {
        width: 400px;
        height: 500px;
        top: 128px;
        left: 235px;
        z-index: -90;
        background-size: contain;
      }
      .hideBox1 {
        left: 227px;
        top: 120px;
        width: 400px;
        height: 500px;
      }
      .hideBox2 {
          left: 243px;
          top: 136px;
          width: 400px;
          height: 500px;
      }

      .hideBox5 {
        position: absolute;
        left: -19px;
        top: -3px;
        
    }
    .hideBox6 {
        position: absolute;
        left: -1px;
        top: 13px;
        
    }
    .hideBox7 {
        
      width: 330px;
      height: 190px;
      z-index: -99;
      opacity: 1;
      position: absolute;
      left: -9px;
      top: 42px;
      
  }
  .hideBox8 {
      border: 1px solid #315611;
      width: 330px;
      height: 190px;
      z-index: -98;
      opacity: 1;
      position: absolute;
      left: 9px;
      top: 61px;
      
   }
    .contentBgtitle {
        display: flex;
        justify-content: center;
        position: relative;
        margin: 0;
        right: 40px;
        top: 0;
        text-align: left;
    }
    .contentTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: left;
        top: 120px;
        left: 0;
        z-index: 20;

    }


      .profBtn {
        
        top: 544px;
        left: 723px;
     }
     .contactBtn {
         margin-right: 40px;
     }
     .worksContent {
      position: relative;
      top: 16px;
      left: -75px;
      width: 500px;
      height: auto;
  
  }
  .skillImages {
    position: relative;
    width: 320px;
    height: 320px;
    opacity: 0.3;
    left: 134px;

    }
    .resworksBox {
    position: relative;
    display: flex;


    }
    .resworksInbox {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-bottom: 32px;
    }
    .resskillContbox {
    display: flex;
    justify-content: space-around;
    }
    .workImages {
    width: 350px;
    height: 200px;
    top: 0px;
    left: 0px;
    }
    .workImages2 {
    top: 5px;
    left: -9px;
    }

    .workImages3 {
    
    position: relative;
    width: 350px;
    height: 200px;

    top: 52px;
    left: 1px;
    }
    .worksTitle {
    position: relative;
    top: 6px;
    left: 20px;

    }
    .worksContent {
    position: relative;
    top: 5px;
    left: 20px;
    width: 500px;
    height: auto;

    }
    .contentBtn {
    left: 209px;
    top: 20px;
    background-color: #ffffff99;
    }
    .skillContent {
    width: 500px;
    height: auto;
    left: 55px;
    top: 107px;
    
    }
    .skillImages {
    position: relative;
    width: 320px;
    height: 320px;
    opacity: 0.3;
    left: -78px;
    top: -100px;
    
    background-size: contain;

    }
    .listBox {
    top: -100px;
    left: -62px;
    }

    .contactImage {
        background-image: url("images/contact562/contact562.png");
        width: 75rem;
        height: 52rem;
        top: 56.5px;
        background-size: 100%;
        left: 308.5px;
    }
    .form {
        width: 30rem;
        height: 5.65rem;
        margin: 0 0 0 10px;
        display: flex;
    }
    .form2 {
        margin-top: 0;
    
    }
    .formTitle {
        position: relative;
        left: 8.5px;
        top: 21.5px;
      }
      .formBox {
        left: 66.5px;
        position: relative;
     }

     .form.ord1 { order:1;}
     .form.ord2 { order:3;}
     .form.ord3 { order:2;}
     .form.ord4 { order:4;}
     
     ::placeholder {
         color: #315611;
         font-family: "Bad Script";
         font-size: 1.6rem;
     }

    .area {
        width: 30rem;
        height: 16rem;
        top: 23px;
        position: relative;
        display: inline-block;
        
    
    }

    .copyright {
        
        top: 94px;
        left: 624px;
        position: absolute;
        padding-bottom: 0;

    }

}