@charset "UTF-8";

$cColor: #572B23;
$cBgColor: #f6f3eb;
$cGreen: #315611;
$cwhite: #ffffff;
$cGray: #f9f9f9;


html {
    font-size: 62.5%;
    overflow: auto;


}

body {
    color: $cColor;
    background-color: $cwhite;
    font-family: "Bad Script","Sawarabi Gothic";
    font-size: 62.5%;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: auto;
    overflow-y: scroll;

}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    /*テキストデフォルト下線外し*/
    text-decoration: none;
    /* color: #ffffff; */
}




.container {
    overflow: hidden;
}


.flex {
    display: flex;
    justify-content: flex-start;
}

.inner {
    min-width: 336px;
    width: 100%;
    margin: 0 auto;
}


.site_btn {
    display: flex;
    width: 200px;
    font-size: 2.4rem;
    color: #572B23;
    line-height: 27px;
}

.site_link {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

/****************

header

*************/

.header {
    display: flex;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: $cwhite;
    opacity: .8;

    &_ttl {
        font-size: 2.0rem;
    font-family: "Bad Script";
    opacity: 1;
    color: $cColor;
    }
}

// nav

.nav {
    width: 100%;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


    /* ハンバーガーメニュー */
    &_list {
        position: absolute;
        display: block;
        top: 54px;
        /* left: 377px; */
        left: 1000px;
        overflow: hidden;
        width: 15rem;
        max-height: auto;
        cursor: pointer;

        overflow-y: auto;/*縦方向の表示*/

        display: flex;
        flex-direction: column;
        transition: opacity .8s ease, visibility .6s ease;
        color: #572B23;

        background-color: #F6F3FB;
        visibility: .6s ease;
        opacity: 1;

        &.clicked {
            left: 114px;
            visibility: visible;
            opacity: 0.9;
            width: 262px;
            top: 0;
            /* height: 667px; */
            height: 100vh;
            background-color: #f6f3f8;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }

    &_item {
        padding: 2px 0;
        font-size: 2rem;
        color: #572B23;
        position: relative;

        transition: transform 6s ease, opacity .2s ease;

        &:nth-child(1) {
        transform: translateX(200px);

        transition: transform .6s ease, opacity .2s ease;

        }

        &:nth-child(2) {
        transition-delay: .15s;

        }
        &:nth-child(3) {
        transition-delay: .3s;

        }

        &:nth-child(4) {
        transition-delay: .45s;

        }

        &:nth-child(5) {
        transition-delay: .6s;

        }

        &::after {
        position: absolute;
        bottom: -4px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #572B23;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
        }

        &:hover::after {
        transform: scale(1, 1);
        }

    }







    &_link {
        width: 100%;
        display: block;
        color: #572B23;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }


}




.clicked .navList .navItem {
    transform: translateX(0px);
}







.toggle_btn {

    z-index: 2000;
    position: absolute;
    top: 0;
    width: 45.25px;
    /* height: 24px; */
    height: 55px;
    right: 16.19px;
    cursor: pointer;
    transition: all .30s ease-in-out;/*0.3秒かけて変化*/
}

.toggle_line {
    display: block;
    position: absolute;
    z-index: 2100;
    right: 6.3px;
    top: 14px;
    width: 100%;
    height: 1px;
    background-color: #315611;
    transition: all 0.3s;
}


.__tg1 {
    top: 16.19px;

    &.clicked {
        transform: translateY(12px) rotate(-315deg);
    }
}
.__tg2 {
    top: 28.19px;
    &.clicked {
        opacity: 0;
    }
}
.__tg3 {
    top: 40.19px;
    &.clicked {
        transform: translateY(-11px) rotate(315deg);
    }
}


/****************

kv

*************/

.kv {
    background: url(/images/top-image/top-image.png) center / cover no-repeat;
    background-position-y: 50%;
    height: 100vh;
    width: 100%;
    // display: flex;

    position: relative;

    &_txtbox {
        position: absolute;
        top: 50%;

    }

    &_txt {
        margin: auto;
        text-align: center;
        font-size: 1.8rem;
        color: $cGreen;
        padding: 10px 24px;
        background-color: $cwhite;
        opacity: 1;
        margin-bottom: 16px;
        line-height: 2;
    }

}


.__subtxt {
    font-size: 1.6rem;
    padding: 13px 24px;
    color: $cColor;
    opacity: 0.8;
    letter-spacing: 0.32px;
    width: 228px;
    height: 48px;
    line-height: .84;
    display: inline-block;
    margin-right: auto;
}


.contact_box {
    display: block;
    position: absolute;
    bottom: 80px;
    left: 25%;
    margin: 0 auto;
    width: 20rem;
    line-height: 45px;
    // margin-top: auto;

    opacity: 1;
    border: 1px solid $cColor;
    text-align: center;
    background-color: $cBgColor;
    font-size: 2.3rem;
    font-family: "bad script";
    color: $cColor;

}


.contact_link {
    padding: 6px 66px;
    display: block;
    width: 100%;
    // height: 100%;
    text-align: center;

}

/****************

profile

*************/

.prof {
    padding: 0 0 64px;

    .section_ttlbox {
        padding: 88px 0 45px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    &_inner {
        position: relative;
        width: 336px;
        margin: 0 auto;

        &::after {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・475.png) no-repeat;
            width: 100%;
            height: 16%;
            display: block;
            left: -6%;
            bottom: -13%;
            z-index: -1;
        }
        &::before {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・476.png) no-repeat;
            width: 100%;
            height: 16%;
            display: block;
            left: 78%;
        }
    }

    &_ttl {
        width: 100%;
        position: relative;
        display: block;
        font-size: 3.2rem;
        color: $cColor;
        line-height: 0.84;
        margin: 0 auto;

        &::before {
            display: block;
            content: 'Profile';
            position: absolute;
            bottom: -20px;
            right: 8px;
            z-index: -1;
            color: $cBgColor;
            opacity: 1;
            font-size: 100px;
        }


    }

    &_imgbox {
        position: relative;
        width: 316px;
        height: 330px;
        z-index: 90;
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: '';
            position: absolute;
            border: 1px solid $cGreen;
            width: 316px;
            height: 330px;
            z-index: -99;
            opacity: 1;
            left: 8px;
            top: 8px;

        }

        &::before{
            content: '';
            position: absolute;
            border: 1px solid $cGreen;
            width: 316px;
            height: 330px;
            z-index: -99;
            opacity: 1;
            left: -8px;
            top: -8px;
            
        }
    }

    &_img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &_txt {
        margin: 40px 0 40px;
        font-size: 1.6rem;
    }

    .section_btnbox {
        // display: block;
        margin: 0 auto;
        justify-content: center;
    }

    .site_btn {
        text-align: center;
        width: 160px;
        margin: 0 8px;
        border: 1px solid $cGreen;
        line-height: 48px;
    }



}


/****************

works

*************/

.work {
    padding: 88px 0 64px;
    background-color: $cGray;
    height: 1838px;

    .section_ttlbox {
        padding: 88px 0 45px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

     &_inner {
        position: relative;
        width: 336px;
        margin: 0 auto;

        &::after {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・487.png) no-repeat;
            width: 100%;
            height: 19%;
            display: block;
            left: 76%;
            bottom: -13%;
        }
        &::before {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・477.png) no-repeat;
            width: 100%;
            height: 16%;
            display: block;
            top: -17.5%;
            left: -6%;
        }
    }

    &_item {
        margin-bottom: 80px;
    }



    &_ttl {
        width: 100%;
        position: relative;
        display: block;
        font-size: 3.2rem;
        color: $cColor;
        line-height: 0.84;
        margin: 0 auto;
        z-index: 100;

        &::before {
            display: block;
            content: 'Works';
            position: absolute;
            bottom: -20px;
            right: 8px;
            z-index: -1;
            color: $cBgColor;
            opacity: 1;
            font-size: 100px;
        }


    }

    &_minttl {
        margin-top: 30px;
        font-size: 2.4rem;
    }

        &_imgbox {
        position: relative;
        width: 316px;
        height: 330px;
        z-index: 90;
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: '';
            position: absolute;
            border: 1px solid $cGreen;
            width: 316px;
            height: 330px;
            z-index: -99;
            opacity: 1;
            left: 8px;
            top: 8px;

        }

        &::before{
            content: '';
            position: absolute;
            border: 1px solid $cGreen;
            width: 316px;
            height: 330px;
            z-index: -99;
            opacity: 1;
            left: -8px;
            top: -8px;
            
        }
    }

    &_img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &_txt {
        margin: 16px 0;
        font-size: 1.6rem;
        letter-spacing: .32px;
    }

    .site_btn {
        margin: 0 auto;
        text-align: center;
        color: $cGreen;
        font-size: 1.4rem;
        border: 1px solid $cGreen;
    }






}



  .ly-worksWrapper {
    position: absolute;
    top: 1781px;
    display: flex;
    height: 1791px;
    width: 768px;
    

  }
  .ly-worksBox {
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 235px;
  }

  .ly-worksContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 113px;
  
  }

  .workImages {
    background-image: url("images/work1/work1.png");
    background-repeat: no-repeat;

    position: relative;
    width: 330px;
    height: 190px;
    top: 77px;
    left: 23px;
}
.workImages2 {
    background-image: url("images/work2/work2.png");
    background-repeat: no-repeat;

    position: relative;
    width: 330px;
    height: 190px;

    top: 168px;
    left: 23px;
}
.workImages3 {
    background-image: url("images/work3/work3.png");
    background-repeat: no-repeat;
   
    position: relative;
    width: 330px;
    height: 190px;

    top: 349px;
    left: 23px;
}

.hideBox3 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -99;
    opacity: 1;
    position: absolute;
    left: 15px;
    top: 69px;
    
}
.hideBox4 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -98;
    opacity: 1;
    position: absolute;
    left: 31px;
    top: 85px;
    
}
.hideBox5 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -99;
    opacity: 1;
    position: absolute;
    left: 15px;
    top: 160px;
    
}
.hideBox6 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -98;
    opacity: 1;
    position: absolute;
    left: 31px;
    top: 176px;
    
}
.hideBox7 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -99;
    opacity: 1;
    position: absolute;
    left: 15px;
    top: 341px;
    
}
.hideBox8 {
    border: 1px solid #315611;
    width: 330px;
    height: 190px;
    z-index: -98;
    opacity: 1;
    position: absolute;
    left: 31px;
    top: 357px;
    
}


.worksWrapper {
    display: flex;
    justify-content: center;
}

.worksTitle {
    position: relative;
    top: 100px;
    left: 0;
    padding-left: 19px;

}
.worksContent {
    position: relative;
    top: 104px;
    left: 19px;
    width: 335px;
    height: 143px;

}


.u-work {
    position: relative;
    left: -28px;
}

.u-workTxt {
    font-size: 2.4rem;
    text-align: left;
}
.u-workTxt3 {
    font-size: 2.4rem;
    text-align: left;
    top: 373px;
    /* left: 19px; */
}
.u-workTop {
    position: relative;
    top: 82px;
    width: 335px;
    height: 70px;
}
.u-workTop2 {
    position: relative;
    top: 121px;
    width: 335px;
    height: 70px;
    /* display: block; */
}



.u-workContxt {
    font-size: 1.6rem;
    text-align: left;
    letter-spacing: 0.32px;
    font-family: "Sawarabi Gothic";
}
.u-workContxt3 {
    font-size: 1.6rem;
    text-align: left;
    letter-spacing: 0.32px;
    font-family: "Sawarabi Gothic";
    top: 375px;
}
.u-workBtn {
    border: none;
    color: #315611;
    background-color: #ffffff;
    font-size: 1.4rem;
}
.u-workBtn2 {
    border: none;
    color: #315611;
    background-color: #ffffff;
    font-size: 1.4rem;
    position: relative;
    top: 0px;
}
.u-works2 {
    position: absolute;
    top: 225px;
}
.u-workBtn3 {
    border: none;
    color: #315611;
    background-color: #ffffff;
    font-size: 1.4rem;
    position: relative;
    top: 0px;
}
.u-works3 {
    position: absolute;
    top: 438px;
  }

/****************

skill

*************/


.skill {
    padding: 88px 0 65px;
}



