@charset "UTF-8";

$cColor: #572B23;
$cBgColor: #f6f3eb;
$cGreen: #315611;
$cwhite: #ffffff;
$cGray: #f9f9f9;

$widthPc: 1366px;
$widthTab: 764px;
$widthSp: 480px;




@mixin pc {
    @media screen and (min-width: $widthPc) {
        @content;
    }
}


@mixin tab {
    @media screen and (min-width: $widthTab) and (max-width: $widthPc) {
        @content;
    }
}

html {
    font-size: 62.5%;
    overflow: auto;


}

body {
    color: $cColor;
    background-color: $cwhite;
    font-family: "Bad Script","Sawarabi Gothic";
    font-size: 62.5%;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    height: auto;
    overflow-y: scroll;

}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    /*テキストデフォルト下線外し*/
    text-decoration: none;
    /* color: #ffffff; */
}




.container {
    overflow: hidden;
}


.flex {
    display: flex;
    justify-content: flex-start;
}


.inner {
    // min-width: 336px;
    width: 100%;
    margin: 0 auto;
}





.site_btn {
    position: relative;
    display: inline-block;
    border: 1px solid $cGreen;
    margin-left: auto;
    margin-right: auto;
    
    width: 200px;
    font-size: 2.4rem;
    color: $cGreen;
    line-height: 27px;
    display: flex;
    cursor: pointer;
    z-index: 2;

    

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        content: '';
        background-color: $cGreen;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: transform .3s
    }

    &:hover:before {
        transform-origin: left top;
        transform: scale(1, 1);
    }

    &:hover {
        color: $cwhite;
        opacity: 1;
    }

}


.site_link {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;

}

.nav_color {
    color: $cGreen;
}

/****************

header

*************/

.header {
    display: flex;
    z-index: 5;
    width: 100%;
    line-height: 56px;
    background-color: $cwhite;
    opacity: .8;

    &_ttl {
        width: 50%;
        font-size: 2.0rem;
    font-family: "Bad Script";
    opacity: 1;
    color: $cColor;
    margin-left: 16px;
    }
}

@include tab {
    .header {
        line-height: 80px;

        &_ttl {
            font-size: 3.2rem;
            margin-left: 40px;
        }

        @include pc {
            &_ttl {
                margin-left: 120px;
            }
        }
    }
}



// nav

.nav {
    width: 100%;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    /* ハンバーガーメニュー */
    &_list {
        position: absolute;
        display: block;
        top: 54px;
        right: -1000px;
        overflow: hidden;
        width: 15rem;
        max-height: auto;

        overflow-y: auto;/*縦方向の表示*/

        display: flex;
        flex-direction: column;
        transition: opacity .8s ease, visibility .6s ease;
        color: #572B23;

        background-color: #F6F3FB;
        visibility: .6s ease;
        opacity: 1;

        &.clicked {
            right: 0;
            visibility: visible;
            opacity: 0.9;
            width: 262px;
            top: 0;
            height: 667px;
            // height: 100vh;
            background-color: $cBgColor;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }

    @include tab {
        &_list {
            justify-content: center;
            flex-direction: initial;
            left: 0;
            top: 0;
            width: 100%;
            background-color: $cwhite;

            &.clicked {
                display: none;
            }
        }
    }

    &_item {
        padding: 2px 0;
        font-size: 2rem;
        color: $cColor;
        position: relative;

        transition: transform 6s ease, opacity .2s ease;

        &:nth-child(1) {
        // transform: translateX(200px);
        transition: transform .6s ease, opacity .2s ease;

        }

        &:nth-child(2) {
        transition-delay: .15s;

        }
        &:nth-child(3) {
        transition-delay: .3s;

        }

        &:nth-child(4) {
        transition-delay: .45s;

        }

        &:nth-child(5) {
        transition-delay: .6s;

        }

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: #572B23;
            transform: scale(0, 1);
            transform-origin: left top;
            transition: transform .3s;
        }

        &:hover::after {
        transform: scale(1, 1);
        }

        &.nav_color {
            color: $cGreen;
        }

    }


    @include tab {
        &_item {
            margin-right: 40px;
            font-size: 2.4rem;
            

            &:nth-child(4) {
                margin-right: 40px;
                display: block;
            }
        }
    }


    &_link {
        width: 100%;
        display: block;
        color: $cColor;
        font-size: 2.4rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        line-height: 2;

        &.nav_color {
            color: $cGreen;
        }
    }

    &_sp {
        font-size: 1.4rem;
        list-style: 1.5em;

    }


}




.clicked .nav_list .nav_item {
    transform: translateX(0px);
}







.toggle_btn {

    z-index: 2000;
    position: absolute;
    top: 0;
    width: 16%;
    /* height: 24px; */
    height: 55px;
    right: 16.19px;
    cursor: pointer;
    transition: all .30s ease-in-out;/*0.3秒かけて変化*/
}

@include tab {
    .toggle_btn {
        display: none;
    }
}

.toggle_line {
    display: block;
    position: absolute;
    z-index: 2100;
    right: 6.3px;
    top: 14px;
    width: 45.25px;
    height: 1px;
    background-color: #315611;
    transition: all 0.3s;
}


.__tg1 {
    top: 16.19px;

    &.clicked {
        transform: translateY(12px) rotate(-315deg);
    }
}
.__tg2 {
    top: 28.19px;
    &.clicked {
        opacity: 0;
    }
}
.__tg3 {
    top: 40.19px;
    &.clicked {
        transform: translateY(-11px) rotate(315deg);
    }
}


/****************

kv

*************/

.kv {
    background: url(../images/top-image/top-image.png) center / cover no-repeat;
    background-position-y: 50%;
    height: 667px;
    width: 100%;
    // display: flex;

    position: relative;
    // z-index: 1;

    &_txtbox {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;

    }

    @include tab {
        &_txtbox {
            width: 100%;
        }
    }

    @include pc {
        &_txtbox {
            width: 60%;
            transform: translateY(-50%);
        }
    }

    .site_btn {
        cursor: pointer;
        display: block;
        position: absolute;
        bottom: 80px;
        left: 50%;
        // margin: 0 auto;
        width: 20rem;
        line-height: 45px;

        opacity: 1;
        border: 1px solid $cColor;
        text-align: center;
        background-color: $cwhite;
        font-size: 2.3rem;
        font-family: "bad script";
        color: $cColor;

        transform: translateX(-50%);

        &:before {

            background-color: $cColor;
        }

        &:hover {
            color: $cwhite;
        }
    }

    @include tab {
        .site_btn {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .site_link {
        padding: 6px 66px;
        display: block;
        width: 100%;
        text-align: center;

    }


    &_txt {
        margin: auto;
        text-align: center;
        font-size: 1.8rem;
        color: $cGreen;
        padding: 10px 24px;
        background-color: $cwhite;
        opacity: .8;
        margin-bottom: 16px;
        line-height: 2;
    }

    @include tab {
        &_txt {
            font-size: 4rem;
            margin-bottom: 40px;
        }
    }

    @include pc {
        &_txt {
            margin-bottom: 24px;
        }
    }

}


.__subtxt {
    font-size: 1.6rem;
    padding: 13px 24px;
    color: $cColor;
    opacity: 0.8;
    letter-spacing: 0.32px;
    width: 228px;
    height: 48px;
    line-height: .84;
    display: inline-block;
    margin-right: auto;
}
@include tab {
    .__subtxt {
        font-size: 2.4rem;
        width: 344px;
        line-height: 60px;
        height: initial;
    }
}

@include pc {
    .__subtxt {
        width: 533px;
        padding: 19px 40px 17px 120px;
    }
}



@include tab {
    .kv {
        background: url(../images/iPadデザイン/top-image.png) center / cover no-repeat;
        height: 943px;
        background-position-y: 50%;

    }
}
@include pc {
    .kv {
        background: url(../images/pc-top-image/top-image.png) center / cover no-repeat;
        height: 688px;
        background-position-y: 100%;

    }
}






@include tab {
    .contact_box {
        left: 50%;
        transform: translateX(-50%);

    }
}



/****************

profile

*************/

.prof {
    padding: 0 0 64px;
    position: relative;

    .section_ttlbox {
        padding: 88px 0 45px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    &::after {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・475.png) no-repeat;
            width: 96px;
            height: 96px;
            display: block;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
        &::before {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・476.png) no-repeat;
            width: 96px;
            height: 96px;
            display: block;
            right: 0;
            top: 0;
            z-index: -1;
        }


    @include tab {
        .section_ttlbox {
            padding: 128px 0 39px;
        }
    }
    @include pc {
        .section_ttlbox {
            position: relative;
        }
    }

    &_inner {
        position: relative;
        width: 336px;
        margin: 0 auto;

    }

    @include tab {
        &_inner {
            width: 704px;
            display: flex;
            // flex-direction: row-reverse;
        }
    }

    @include pc {
        &_inner {
            width: 981px;
            margin: 0 auto;
            display: flex;
        }
    }

    &_ttl {
        width: 100%;
        position: relative;
        display: block;
        font-size: 3.2rem;
        color: $cColor;
        line-height: 0.84;
        margin: 0 auto;

        &::before {
            display: block;
            content: 'Profile';
            position: absolute;
            bottom: -20px;
            right: 8px;
            z-index: -1;
            color: $cBgColor;
            opacity: 1;
            font-size: 10rem;
        }

        @include tab {
            &::before {
                font-size: 12rem;
                right: 6%;
            }
        }

        @include pc {
            &::before {
                font-size: 12rem;
                bottom: 0;
                right: 10%;
            }
        }
    }

    @include pc {
        &_ttl {
            position: absolute;
            bottom: -30px;
            left: 88px;
            font-size: 3.6rem;
        }
    }




    &_imgbox {
        position: relative;
        width: 316px;
        height: 330px;
        z-index: 90;
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: '';
            position: absolute;
            border: 1px solid $cGreen;
            width: 316px;
            height: 330px;
            z-index: -99;
            opacity: 1;
            left: 8px;
            top: 8px;

        }

        &::before{
            content: '';
            position: absolute;
            border: 1px solid $cGreen;
            width: 316px;
            height: 330px;
            z-index: -99;
            opacity: 1;
            left: -8px;
            top: -8px;
        }
    }

    @include tab {
        &_imgbox {
            width: 296px;
            height: 371px;
            left: -21%;
            transform: translateX(50%);

            &::after {
                width: 296px;
                height: 371px;
            }

            &::before {
                width: 296px;
                height: 371px;
            }
        }
    }

    @include pc {
        &_imgbox {
            width: 400px;
            height: 500px;
            left: 0;
            transform: initial;

            &::after {
                width: 400px;
                height: 500px;
            }

            &::before {
                width: 400px;
                height: 500px;
            }


        }
    }

    &_img {
        width: 100%;
        height: 100%;
        display: block;
    }

    @include pc {
        &_content {
            position: relative;
        }
    }

    &_txt {
        margin: 40px 0 40px;
        font-size: 1.6rem;
    }

    @include tab {
        &_txt {
            margin: 0 0 100px 40px;
            width: 360px;
            line-height: 2;
        }
    }

    @include pc {
        &_txt {
            width: 493px;
            margin: 83px 0 40px 80px;
            font-size: 1.8rem;
        }
    }

    .section_btnbox {
        // display: block;
        margin: 0 auto;
        justify-content: center;
    }

    @include tab {
        .section_btnbox {
            margin: 40px auto;
            width: 50%;

        }
    }

    @include pc {
        .section_btnbox {
            width: 100%;
        }
    }

    .site_btn {
        text-align: center;
        width: 160px;
        margin: 0 8px;
        border: 1px solid $cGreen;
        line-height: 48px;
        color: $cGreen;

        &:hover {
            color: $cwhite;

        }

    }

    @include tab {
        .site_btn {
            position: absolute;
            left: 50%;
        }

        .site_tw {
            position: absolute;
            left: 25%;
        }
    }

    @include pc {
        .site_btn {
            width: 200px;
            line-height: 56px;
            left: 320px;
            position: absolute;
        }

        .site_tw {
            left: 72px;
        }
    }
}

@include tab {
    .prof {
        padding: 0 0 88px;
    }
}




/****************

works

*************/

.work {
    padding: 88px 0 64px;
    background-color: $cGray;
    // height: 1838px;
    position: relative;

    &::after {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・487.png) no-repeat;
            width: 96px;
            height: 96px;
            display: block;
            right: 0;
            bottom: 0;
        }
    &::before {
        position: absolute;
        content: '';
        background: url(/images/スマホデザイン/グループ・477.png) no-repeat;
        width: 96px;
        height: 96px;
        display: block;
        top: 0;
        left: 0;

    }

    .section_ttlbox {
        padding: 88px 0 45px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    &_inner {
        position: relative;
        width: 336px;
        margin: 0 auto;
        height: 1838px;

        
    }

    @include tab {
        &_inner {
            width: 500px;
            height: 1710px;
        }
    }

    @include pc {
        &_inner {
            width: 65%;
            height: auto;
        }
    }


    &_item {
        margin-bottom: 80px;
    }

    @include pc {
        &_item {
            display: flex;
        }
    }



    &_ttl {
        width: 100%;
        position: relative;
        display: block;
        font-size: 3.2rem;
        color: $cColor;
        line-height: 0.84;
        margin: 0 auto;
        z-index: 100;

        &::before {
            display: block;
            content: 'Works';
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            color: $cBgColor;
            opacity: 1;
            font-size: 100px;
        }

    }

    &_minttl {
        margin-top: 30px;
        font-size: 2.4rem;
    }

    @include tab {
        &_minttl {
            font-size: 3.2rem;
        }
    }

    @include pc {
        &_minttl {
            margin-top: 0;
        }
    }

    &_imgbox {
        position: relative;
        width: 330px;
        height: 190px;
        z-index: 90;
        left: 50%;
        transform: translateX(-50%);

        &::after {
            content: '';
            position: absolute;
            border: 1px solid $cGreen;
            width: 330px;
            height: 190px;
            z-index: -99;
            opacity: 1;
            left: 8px;
            top: 8px;

        }

        &::before{
            content: '';
            position: absolute;
            border: 1px solid $cGreen;
            width: 330px;
            height: 190px;
            z-index: -99;
            opacity: 1;
            left: -8px;
            top: -8px;

        }
    }

    @include tab {
        &_imgbox {
            width: 350px;
            height: 200px;

            &::after {
                width: 350px;
                height: 200px;
            }
            &::before {
                width: 350px;
                height: 200px;
            }
        }
    }

    @include pc {
        &_imgbox {
            left: initial;
            transform: initial;
            margin-right: 40px;
        }
    }

    &_img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &_txt {
        margin: 16px 0;
        font-size: 1.6rem;
        letter-spacing: .32px;
        line-height: 1.5;
    }

    @include tab {

        &_txtbox {
            width: 100%;
            text-align: left;
            margin: 0 auto;
        }
        &_txt {
            margin: 16px auto;
            width: 500px;
        }
    }

    @include pc {
        &_txtbox {
            width: 500px;
        }
    }

    .site_btn {
        margin: 0 auto;
        text-align: center;
        color: $cGreen;
        font-size: 1.4rem;
        border: 1px solid $cGreen;
        width: 120px;
        line-height: 40px;

        &:hover {
            color: $cwhite;

        }
    }

    @include pc {
        .site_btn {
            margin: initial;
            margin-left: auto;
        }
    }

}

@include tab {
    .work {
        padding: 128px 0 80px;
    }
}


/****************

skill

*************/


.skill {
    padding: 88px 0 65px;
    background-color: $cwhite;
    position: relative;

    &::after {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・492.png) no-repeat;
            width: 96px;
            height: 96px;
            display: block;
            right: 0;
            top: 0;
        }
        &::before {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・493.png) no-repeat;
            width: 96px;
            height: 96px;
            display: block;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

    &_ttl {
        width: 100%;
        position: relative;
        display: block;
        font-size: 3.2rem;
        color: $cColor;
        line-height: 0.84;
        margin: 0 auto;
        z-index: 100;
        text-align: center;

        &::before {
            display: block;
            content: 'Skill';
            position: absolute;
            bottom: -20px;
            left: 10%;
            transform: translateX(-10%);
            z-index: -1;
            color: $cBgColor;
            opacity: 1;
            font-size: 10rem;
        }


    }

   



    @include tab {
        &_ttl {
            font-size: 3.6rem;

        }
    }

    @include pc {
        &_ttl {
            text-align: left;
            margin-left: 162px;

            &::before {
                bottom: 0;
                font-size: 12rem;
                left: -100px;
            }
        }
    }

    &_inner {
        position: relative;
        width: 336px;
        margin: 0 auto;
        // height: 1838px;


        
    }

    .flex {
        flex-direction: column;
    }

    @include pc {
        .flex {
            flex-direction: initial;
            justify-content: center;
        }
    }
    @include tab {

        &_inner {
            width: 500px;
        }
    }

    @include pc {
        &_inner {
            width: 77%;
        }
    }

    &_listbox {
        margin-top: 43px;

        &.flex {
            justify-content: center;
            flex-direction: initial;
        }
    }

    @include pc {
        &_listbox {
            margin-top: 0;
        }
    }

    &_imgbox {
        margin-top: 21px;
        width: 200px;
        height: 200px;
        z-index: 90;

    }

    @include tab {
        &_imgbox {
            margin-top: 0;
        }
    }

    @include tab {
        &_imgbox {
            width: 320px;
            height: 320px;
        }
    }

    &_list {
        font-family: 'Sawarabi Gothic', Regular;
    }


    &_img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &_item {
        font-size: 1.6rem;
        line-height: 2em;
    }

    &_itemspan {
        color: $cGreen;
        font-size: .8rem;
        text-align: left;
        
    }

    @include tab {
        &_item {
            font-size: 1.8rem;

        }
    }

    @include pc {
        &_txtbox {
            width: 500px;
            margin-right: 80px;
        }
    }

    &_txt {
        margin: 16px 0;
        font-size: 1.6rem;
        letter-spacing: .32px;
        line-height: 2em;
    }

    @include tab {
        &_txt {
            margin: 39px 0;
        }
    }

    @include pc {
        &_txt {
            font-size: 1.8rem;
            letter-spacing: .36px;
        }
    }
}

@include tab {
    .skill {
        padding: 128px 0 80px;
    }
}



/****************

contact

*************/



.contact {
    padding: 88px 0 64px;
    background-color: $cGray;
    position: relative;



    &::after {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・514.png) no-repeat;
            width: 96px;
            height: 96px;
            display: block;
            right: 0;
            bottom: 0;
    }
    &::before {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・497.png) no-repeat;
            width: 96px;
            height: 96px;
            display: block;
            top: 0;
            left: 0;
            z-index: 1;
    }

    &_ttl {
        width: 100%;
        position: relative;
        display: block;
        font-size: 3.2rem;
        color: $cColor;
        line-height: 0.84;
        margin: 0 auto;
        z-index: 100;
        text-align: center;

        &::before {
            display: block;
            content: 'Contact';
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            color: $cBgColor;
            opacity: 1;
            font-size: 10rem;
        }

        @include pc {
            &::before {
                font-size: 12rem;

            }
        }
    }

    &_inner {
        margin: auto;
        display: block;
        width: 300px;
        padding-bottom: 24.5px;
        
    }

    @include pc {
        &_inner {
            display: flex;
            flex-wrap: wrap;
            width: 88%;
        }

        &_formwrap {
            width: 300px;

            &:nth-child(1) {
                margin-right: 53px;
            }
        }
    }



    &_form {
        background: url(../images/cotact564/564.png) no-repeat;
        width: 350px;
        height: 500px;
        margin: 65px auto;
        background-size: contain;
        // background-size: cover;
        display: flex;

    }

    .site_btn {
        font-size: "bad script";
        cursor: pointer;
        margin: 0 auto;
        text-align: center;
        color: $cGreen;
        font-size: 2.4rem;
        border: 1px solid $cGreen;
        width: 200px;
        line-height: 56px;
        position: relative;

        &:hover {
            color: $cwhite;
            // background-color: $cGreen;

        }



        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            content: '';
            background-color: $cGreen;
            transform-origin: right top;
            transform: scale(0, 1);
            transition: transform .3s
        }

        &:hover:before {
            transform-origin: left top;
            transform: scale(1, 1);
        }



    }

    @include tab {
        &_form {
            width: 380px;


        }
    }
    @include pc {
        &_form {
            background: url(../images/contact562/contact562.png) no-repeat;
            width: 750px;
            height: 520px;
        }
    }

    @include tab {
        &_btnbox {
            display: inline-block;
            margin-top: 40px;

        }
    }



}

@include pc {
    .contact {
        padding: 128px 0 80px;
    }
}




.form {
    // width: 30rem;
    line-height: 1.9;

    border-bottom: 1px solid $cColor;
    border-right: none;
    border-left: none;
    border-top: none;
    // padding: 0 0 0 10px;

    &:last-child {
        border:none;
    }

    &_ttl {
        padding-left: 10px;
        width: 40px;
        display: inline-block;

    }

    &_box {
        border: none;
        color: $cGreen;
        opacity: 0.5;
        left: 16px;
        position: relative;
        width: 80%;
        font-family: "Bad Script";

    }

    &_area {
        font-family: "Bad Script";
        opacity: .5;
        font-size: 1.6rem;
        color: $cGreen;
        padding: 8px;
        width: 30rem;
        height: 16rem;
        display: inline-block;
        border: 1px solid $cColor;
    }
    
}

.form2 {
    margin-top: 24.5px;

    &.bb {
        border-bottom: 1px solid;
    }


}






/****************

footer

*************/


.footer {

    background-color: #fff;
    width: 100%;
    height: 138px;
    margin: 0 auto;
    position: relative;

    &::after {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・515.png) no-repeat;
            width: 96px;
            height: 96px;
            display: block;
            right: 0;
            top: 0;
    }
    &::before {
            position: absolute;
            content: '';
            background: url(/images/スマホデザイン/グループ・516.png) no-repeat;
            width: 96px;
            height: 96px;
            display: block;
            bottom: 0;
            left: 0;
            z-index: 1;
    }

    &_sharbox {
        margin: auto;
    }



    &_sharelist {
        display: flex;
        justify-content: center;
        padding-top: 24px;
        margin: auto;
    }

    @include tab {
        &_item {
            margin-top: 40px;
        }

        &_sharelist {
            padding-top: 0;
        }
    }




    &_txt {
        font-size: 1.8rem;
        display: block;
        text-align: center;
        margin-top: 24px;
    }

    &_icon {
        font-size: 3rem;
        margin: 8px;
        border-radius: 50%;

        &:hover {
            transform: translateY(-3px);
        }
    }
}

@include tab {
    .footer {
        height: 154px;
    }

}




